*~
*.cmi
*.cmo
*.cmx
*.cma
*.cmxa
*.a
*.o
*.annot
*.run
*.opt
*.exe
META
VERSION
ag_version.ml
testjstd.ml
testjstd.mli
testv.ml
testv.mli
ag_doc_lexer.ml
atdgen
dep
odoc
*.mlx.ml
*.haux
*.html
*.htoc
*.log
*.out
*.pdf
*.toc
manual/atdgen-body.tex
manual/atdgen-manual.tex
manual/atdgen-manual.txt.iso88591
